.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;

  color: #f8f8f6;
  background-color: #0e0e0e;
  
  .card {
    width: clamp(100px, 45vw, 45vh);
    height: clamp(200px, 60vh, 60vw);
    
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    padding: 10px 7.5px;
    
    background-color: #242424;
    
    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      
      .title {
        font-size: clamp(18px, 2vw, 28px);
        font-weight: 800;
        
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
      }
    
      .copy {
        font-size: clamp(10px, 1vw, 16px);
        font-weight: 400;
        
        writing-mode: vertical-rl;
        text-orientation: sideways;
        transform: rotate(180deg);
      }
      
      .caption {
        font-size: clamp(6px, 0.75vw, 12px);
        font-weight: 400;
        
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
      }
    }
    
    .content {
      width: 100%;
      height: 100%;
      
      background-color: white;
      filter: brightness(150%) saturate(100%) contrast(120%);
      
      overflow: hidden;
    }
  }
}
